body
{
  margin: 0;
  padding: 0;
  background: url(img/bg.png);
  background-size: 100%;
  font-family: sans-serif;
}

.RegisterBox
{
  position: absolute;
  top:50%;
  left: 50%;
  width: 350px;
  transform: translate(-50%,-50%);
  min-height: 200px;
  background: #fff;
  border-radius: 10px;
  padding: 40px;
  box-sizing: border-box;
}

.user
{
  margin:0 auto;
  display: block;
  margin-bottom: 20px;
}

h3
{
  margin:0;
  padding 0 0 20px;
  color: #262626;
  text-align: center;
}
.RegisterBox input
{
  width: 100%;
  margin-bottom: 20px;
}

.RegisterBox input[type="text"],
.RegisterBox input[type="password"]
{
  border: none;
  border-bottom: 2px solid #262626;
  outline: none;
  height: 40px;
  color: #262626;
  background: transparent;
  font-size: 16px;
  padding-left: 20px;
  box-sizing: border-box;

}
.RegisterBox input[type="text"]:focus,
.RegisterBox input[type="password"]:focus
{
    border-bottom: 2px solid #f00;
}

.inputBox
{
  position: relative;
}
.inputBox span
{
  position: absolute;
  right: 260px;
  top: 10px;
}

.RegisterBox input[type="submit"]
{
  border:none;
  outline:none;
  height:40px;
  font-size:16px;
  background: #ed292a;
  color:#fff;
  border-radius: 20px;
  cursor:pointer;
}


.RegisterBox a
{
  color:#262626;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: block;
}
