body
{
  margin: 0;
  padding: 0;
  background: url(../img/bg.png);
  background-size: 100%;
  font-family: sans-serif;
}


.Box
{
  position: absolute;
  top:50%;
  left: 50%;
  width: 300px;
  transform: translate(-50%,-50%);
  min-height: 200px;
  background: #fff;
  border-radius: 10px;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  font-size:20px;
}
.Box input[type="submit"]
{
  margin-top:15px;
  border:none;
  outline:none;
  height:40px;
  font-size:16px;
  background: blue;
  color:#fff;
  border-radius: 20px;
  cursor:pointer;
}


.Box span
{
  position: absolute;
  right: 60px;
  top: 150px;
}

.inputBox input[type="text"]
{
  border: none;
  border-bottom: 2px solid #262626;
  outline: none;
  height: 40px;
  color: #262626;
  background: transparent;
  font-size: 16px;
  padding-left: 20px;
  box-sizing: border-box;
}

.inputBox input[type="text"]:focus
{
    border-bottom: 2px solid #f00;
}

.ctrl
{
  position: absolute;
  bottom:0%;
}

.controls
{
  cursor:pointer;
  position: relative;
  margin-top:-5px;
  padding-top:20px;
  width: 100%;
  height: 100%;
}
.controls img{
  height:auto;
  width:auto;
}
